_qcs.so
libqcs.a
*.o
qcs.py
src/qcs.py
examples_python/qcs.py
__pycache__/qcs.cpython-39.pyc
__pycache__/qcs.cpython-311.pyc
.vscode/settings.json
.vscode/dryrun.log
src/qcs_wrap.c
src/qcs.py
qcs.py
examples_python/qcs.py
